@using ISSU.Models
@model IEnumerable<Website>

@{
    ViewBag.Title = "Линкове";
}

<h2> @ViewBag.Title </h2>

<dl>
    @foreach (Website website in Model)
    {
        <dt> @String.Format("{0}. {1}", website.ID, website.Title) </dt>
        <dd><a href="@website.Url"> @website.Url </a></dd>
    }
</dl>