<hr/>
<table class="table table-striped table-condensed" ng-controller="susiApp.Controllers.SUSIUserController as susi">
    <tbody>
        <tr>
            <td class="col-md-3"><label> Име: </label></td>
            <td> {{ user.FirstName }} {{ user.MiddleName }} {{ user.LastName }} </td>
        </tr>

        <tr>
            <td class="col-md-3"><label> Факултетен номер: </label></td>
            <td> {{ user.FacultyNumber }} </td>
        </tr>

        <tr>
            <td class="col-md-3"><label> Специалност: </label></td>
            <td> {{ user.Programme }} </td>
        </tr>

        <tr>
            <td class="col-md-3"><label> Административна група: </label></td>
            <td> #{{ user.Group }} </td>
        </tr>

        <tr>
            <td class="col-md-3"><label> Година: </label></td>
            <td> {{ user.Year }} </td>
        </tr>
    </tbody>
</table>
