<h2> Actions </h2>
<hr/>

<div class="btn-group-justified">
    <a href="#/student/about" class="btn btn-primary">Информация за студента</a>
    <a href="#/student/courses" class="btn btn-primary">Курсове и оценки</a>
</div>