
@{
    ViewBag.Title = "СУСИ";
}

<h2> Actions </h2>
<hr/>

<div class="btn-group-justified">
    @Html.ActionLink("Информация за студента", "About", "SUSI", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Курсове и оценки", "Courses", "SUSI", null, new { @class = "btn btn-primary" })
</div>