
@{
    ViewBag.Title = "Susi";
}

<h2>Susi</h2>

@using (@Html.BeginForm("LogInSusi", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <h4> SUSI Username: </h4>
    <br />
    <input type="text" name="username"/>
    <br />
    <h4> SUSI Password: </h4>
    <br/>
    <input type="password" name="password"/>
    <br/>
    <input type="submit" value="Click me!"/>
}